# Inherit sensible defaults to align with other C++ codebases at Datadog
BasedOnStyle: Google
Language: Cpp

# 88 is narrow enough for side-by-side review, with significant breathing room over 80
ColumnLimit: 88

# When an argument list is split across multiple lines, indent them all one level rather
# than arbitrarily lining them up with the open paren, and place the closing paren on
# its own line
AlignAfterOpenBracket: BlockIndent

# When an argument list is too long to fit on one line, give each parameter its own line
BinPackArguments: false
BinPackParameters: false
